* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  background: green;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.foods {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 300px;
  max-height: 400px;
}

.foods img {
  width: 200px;
}
